:root {
    --primary-font: Georgia, 'Times New Roman', Times, serif;
    --font-color: rgb(50, 34, 2);
    --primary-background: rgba(239, 228, 105, 0.309);
    --secundary-backgruond: #af9999

}
body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--secundary-backgruond);
    max-width: 300px;
    text-align: center;
}
.form {
    background-color: var(--primary-background);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 15px;
    font-size: 2rem;
    font-family: var(--primary-font);
}


button{
    
    padding: 0.50rem 1rem;
    background-color: var(--primary-background);
    font-size: 0.90rem;
    cursor: pointer;
    

}
.deleteButton{
    margin-left: 15px;
    margin-bottom: 25px;
    
}

.list{
    background-color:var(--primary-background);
    font-size: 1.2rem;
    font-family: var(--primary-font);
    
}

